@charset "utf-8";
body {
  font-family: 'Note Serif JP',serif;
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  color: rgb(168, 106, 106);
}
a {
  text-decoration: none;
  color: rgb(168, 106, 106);
}
li {
  list-style: none;
}
.header_all {
  width: 100%;
  background-color: white;
}
.inner {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}
.header_nav ul {
  width: 100%;
  display: table;
  table-layout: fixed;
  font-family: 'Kaushan Script',cursive;
}
.header_nav ul li {
  display: table-cell;
}
.header_nav ul li a {
  display: block;
  margin: 25px;
  padding: 5px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}
.header_nav ul li a:hover {
  color:rgb(168, 106, 106);
  border-bottom: solid 2px #ccc;
}
.header_nav ul li a span {
  display: block;
  margin-top: 5px;
  font-size: 10px;
}
.top_all {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  background: url("../img-LP1/top-1.jpg") no-repeat center;
  background-size: cover;
}
.top_all:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.top_inner {
  position: absolute;
  text-align: center;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.top_inner h1 {
  font-size: 100px;
  font-weight: 500;
  color: rgb(161, 68, 68);
  font-family: 'Kaushan Script',cursive;
}
.top_inner p {
  font-size: 50px;
  font-weight: 700;
  color: rgb(253, 230, 124);
  font-family: 'Kaushan Script',cursive;
}
.section {
  padding: 150px 0;
  border-top: solid 3px rgb(168, 106, 106);
}
.section:nth-of-type(odd) {
  background-color: #eee;
}
.about_img {
  position: relative;
}
.about_img::after {
  content: "";
  position: absolute;
  background: url("../img-LP1/about.jpg") no-repeat center;
  background-size: cover;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
}
.news_img {
  position: relative;
}
.news_img::after {
  content: "";
  position: absolute;
  background: url("../img-LP1/news-1.jpg") no-repeat center;
  background-size: cover;
  top: 0;
  right: 50%;
  width: 50%;
  height: 100%;
}
.news {
  width: 40%;
  height: 50%;
}
.news_right {
  margin-left: 60%;
}
.title {
  display: block;
  width: 100%;
  margin-bottom: 50px;
  padding-left: 20px;
  line-height: 1.4;
  font-size: 40px;
  font-weight: bold;
  color: rgb(168, 106, 106);
  font-family: 'Kaushan Script',cursive;
}

.title span {
display: inline-block;
font-size: 20px;
font-family: 'Kaushan Script',cursive;
}
.frame_all {
  display: block;
  width: 500px;
  height: auto;
  background-color: #eee;
  border-radius: 5px;
  margin: auto;
  padding: 40px;
}




.txt h3 span {
display: block;
font-size: 20px;
}

.sub_title {
  display: flex;
  font-size: 24px;
  color: #333;
  align-items: center;
}

.sub_title:after, .sub_title:before {
  content: "";
  flex-grow: 1;
  height: 1px;
  background-color: #803333;
  display: block;
}

.sub_title:after {
  margin-right: 4em;
}

.sub_title:before {
  margin-left: 4em;
}

.sub_title span {
  position: relative;
  padding-right: 10px;
  font-family: 'Kaushan Script',cursive;
  font-size: 20px;
  color: #803333;
}
.txt ul li span {
  background: linear-gradient(transparent 60%, #fe9);
}

.photo {
  width: 500px;
  height: auto;
}

.price {
  font-size: 17px;
  text-align: center;
  color: #803333;
  padding-top: 15px;
}

.price span {
  margin-right: 5px;
  font-style: italic;
  font-size: 20px;
}

.price em {
  font-style: italic;
  font-size: 45px;
}

.phot {
  width: 500px;
  height: auto;
  text-align: center;
}

.intro {
  display: flex;
}

.intro_img {
  padding-right: 40px;
}

.txt ul {
padding: 10px;
}

.txt ul li {
  position: relative;
  padding-left: 20px;
  margin-top: 5px;
}

.txt ul li:before {
content: "●";
position: absolute;
left: 0;
color: #555;
}

.blog_body img {
  margin: auto;
  display: block;
}

.blog_block a {
  display: block;
  margin: auto;
  width: 500px;
  height: 240px;
}

.blog_body h3 {
  font-size: 18px;
  font-weight: bold;
  color: #803333;
  margin-top: 10px;
  font-family: 'Kaushan Script',cursive;
  text-align: center;
}

.blog_body p {
  font-size: 14px;
  color: #803333;
  font-family: 'Kaushan Script',cursive;
  text-align: center;
}

.button {
  text-align: center;
  padding: 15px;
  background-color: #fe9;
  border-radius: 10px;
  width: 25%;
  margin: 20px auto 20px;
  font-family: 'Kaushan Script',cursive;
}

.button:hover {
  cursor: pointer;
  background-color: #ff6;
}

.button a {
  font-size: 18px;
  color: #803333;
}

.bottom {
  background-color: #ccc;
  padding: 30px 0;
  text-align: center;
  color: #ccc;
}

.footer_logo h5 {
  text-align: center;
  font-size: 30px;
  font-family: 'Kaushan Script',cursive;
}

.footer_sns {
  text-align: center;
}

.footer_sns li {
  list-style: none;
}

.footer_sns li a img {
  width: 70px;
}
.copyright p {
  color: #803333;
}